
*.dll
*.vsidx
.vs/ATAC/v17/.suo
*.pdb
*.xml
*.cache
obj/Debug/ATAC.csproj.FileListAbsolute.txt
obj/Debug/ATAC.csproj.CopyComplete
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/ATAC/v17/DocumentLayout.json
obj/Debug/ATAC.csproj.Up2Date
